:root {
  --white: white;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  background-color: #000;
}

.heading {
  color: #fff;
  padding-left: 130px;
  font-size: 60px;
  font-weight: 400;
  line-height: 63px;
}

.paragraph {
  color: #fff;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  padding-left: 0;
  padding-right: 0;
}

.div-block {
  padding-bottom: 120px;
}

.heading-paragrafo {
  color: #fff;
  margin-top: 189px;
  padding-left: 130px;
  font-size: 40px;
  font-weight: 400;
}

.paragraph-2 {
  color: #fff;
  margin-top: 100px;
  margin-left: 129px;
  margin-right: 660px;
}

.image {
  padding-left: 595px;
}

.paragraph-4 {
  color: #fff;
  margin-left: 130px;
  padding-left: 0;
}

.image-2 {
  margin-top: -82px;
  padding-top: 0;
}

.section {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  height: 600px;
  display: block;
}

.image-3 {
  max-width: 200%;
  margin-top: -120px;
  padding-top: 0;
}

.div-block-2 {
  margin-top: 238px;
  margin-bottom: 410px;
}

.paragraph-5 {
  color: #fff;
  margin-top: 40px;
  margin-left: 130px;
  margin-right: 300px;
  padding-left: 0;
}

.image-4 {
  margin-top: -262px;
  margin-left: -90px;
  padding: 123px;
}

.container {
  max-height: 600px;
}

.image-5 {
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 90px;
}

.image-6 {
  flex: 0 auto;
  margin-top: -50px;
  padding: 0;
}

.section-2 {
  height: 1000px;
}

.titolo {
  color: #fff;
  text-align: left;
  max-width: 800px;
  margin-top: 200px;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  font-family: Inter, sans-serif;
  font-size: 90px;
  font-weight: 400;
  line-height: 60px;
}

.paragrafo {
  float: none;
  color: #fff;
  text-align: left;
  max-width: 550px;
  margin-top: 150px;
  margin-left: 70px;
  margin-right: 0;
  padding-right: 0;
  font-size: 20px;
  line-height: 26px;
}

.main-scene {
  opacity: 1;
  max-width: 1000px;
  margin-bottom: 565px;
  margin-left: 100px;
  margin-right: 100px;
}

.sezione {
  color: #fff;
  margin-left: -25px;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.container-2 {
  max-width: 100%;
  margin-top: 0;
  margin-left: 100px;
  margin-right: 100px;
}

.paragrafo-2 {
  color: #fff;
  width: auto;
  min-width: 550px;
  max-width: 0;
  margin-top: 50px;
  margin-left: 0;
  padding-left: 0;
  font-size: 20px;
  line-height: 26px;
}

.image-7 {
  float: right;
  max-width: 50%;
  margin-right: 0;
  position: static;
}

.section-3 {
  background-color: #000;
  margin-top: 240px;
}

.paragraph-6 {
  color: #fff;
  margin-bottom: 0;
}

.paragraph-7 {
  color: #fff;
  max-width: 700px;
  margin-top: 0;
  margin-left: 70px;
}

.image-8 {
  float: right;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  padding-left: 0;
}

.section-3-copy {
  max-height: none;
  margin-top: 100px;
}

.image-9 {
  float: left;
  clear: both;
  opacity: .35;
}

.section-4 {
  opacity: 1;
}

.sezione-int {
  color: #fff;
  margin-top: 100px;
  margin-left: -25px;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.quick-stack {
  padding-left: 0;
  padding-right: 0;
}

.cell {
  justify-content: center;
  align-items: center;
}

.sezione-int-2 {
  color: #fff;
  margin-top: 150px;
  margin-left: -25px;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.pargrafo-3 {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.button {
  outline-offset: 0px;
  mix-blend-mode: normal;
  border-radius: 20px;
  outline: 3px #ff2a2a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.image-10 {
  float: right;
  max-width: 90%;
  margin-top: 20px;
  padding-left: 39px;
}

.button-2 {
  -webkit-text-fill-color: inherit;
  cursor: auto;
  background-color: #696969;
  background-clip: border-box;
  border-radius: 20px;
}

.button-2:hover {
  background-color: #3f3f3f;
}

.quick-stack-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.sezione-int-3 {
  color: #fff;
  margin-top: 150px;
  margin-left: -25px;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.image-11 {
  margin-top: 120px;
  padding-right: 0;
}

.image-12 {
  float: none;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.image-13 {
  float: right;
  margin-top: 50px;
}

.paragrafo-2-copy {
  color: #fff;
  width: auto;
  min-width: 800px;
  max-width: 0;
  margin-top: 50px;
  margin-left: 0;
  padding-left: 0;
  font-size: 20px;
  line-height: 26px;
}

.image-14 {
  float: none;
  clear: none;
  margin-top: 0;
  margin-right: 0;
}

.image-15 {
  margin-top: 100px;
}

.paragrafo-2-copy-copy {
  color: #fff;
  width: auto;
  min-width: 800px;
  max-width: 0;
  margin-top: 118px;
  margin-left: 0;
  padding-left: 0;
  font-size: 20px;
  line-height: 26px;
}

.section-5 {
  height: 600px;
  margin-top: 90px;
}

.quick-stack-3 {
  margin-top: 100px;
  padding-left: 0;
}

.paragraph-9 {
  color: #fff;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  font-family: Inter, sans-serif;
}

.sezione-int-3-copy {
  color: #fff;
  margin-top: 100px;
  margin-left: -25px;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.paragraph-8-copy {
  color: #fff;
  width: 800px;
  margin-top: 30px;
}

.paragraph-8-copy-copy {
  color: #fff;
  width: 800px;
  max-width: 800px;
  margin-top: 116px;
}

.container-3 {
  margin-top: 70px;
}

.quick-stack-4 {
  margin-top: 56px;
}

.paragraph-9-copy {
  color: #fff;
  text-align: left;
  text-align: left;
  margin-left: 0;
  font-family: Inter, sans-serif;
  font-style: italic;
}

.paragraph-9-copy-copy {
  color: #fff;
  text-align: left;
  margin-left: 0;
  font-family: Inter, sans-serif;
  font-weight: 700;
}

.quick-stack-5 {
  margin-top: 120px;
}

.image-16 {
  padding-left: 107px;
}

.image-17 {
  margin-top: 100px;
  padding-right: 0;
}

.code-embed {
  color: #fff;
  font-family: Bitter, serif;
}

.code-block {
  margin-left: 0;
  position: relative;
}

.cell-2 {
  padding-right: 0;
}

.cell-3 {
  display: flex;
}

.quick-stack-6 {
  margin-top: 100px;
}

.container-4 {
  margin-left: 100px;
}

.quick-stack-7 {
  padding-left: 0;
  padding-right: 0;
}

.quick-stack-8 {
  margin-bottom: 100px;
}

.quick-stack-9 {
  margin-bottom: 130px;
}

.image-18 {
  clear: none;
  margin-left: 115px;
}

.button-3 {
  float: right;
}

.button-4 {
  float: none;
  color: #000;
  background-color: #fff;
  border: 10px solid #fff;
  border-radius: 40px;
  margin-top: 0;
  margin-left: 0;
  padding-top: 10px;
  font-size: 40px;
  transition: opacity .2s;
}

.button-4:hover {
  color: var(--white);
  background-color: #555;
  border-color: #555;
}

.section-6 {
  height: 500px;
}

.container-5, .image-19 {
  margin-top: 100px;
}

.footer {
  background-color: #fff;
  margin-top: 100px;
}

.sezione-footer {
  color: #000;
  margin-left: -25px;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.paragraph-9-copy, .paragraph-9-copy-copy {
  color: #fff;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  font-family: Inter, sans-serif;
}

.paragrafo-footer {
  float: right;
  color: #000;
  text-align: right;
  max-width: 450px;
  margin: 50px 0;
  padding-right: 0;
  font-family: Inter, sans-serif;
}

.button-5 {
  color: #000;
  background-color: #fff;
  border-radius: 20px;
}

.button-5:hover {
  color: #fff;
  background-color: #414141;
}

.button-6 {
  color: #000;
  background-color: #fff;
  border-radius: 20px;
}

.sezione-copy {
  color: #fff;
  margin-top: 130px;
  margin-left: -25px;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.div-block-3 {
  height: 400px;
}

.container-6 {
  max-width: none;
  margin-left: 0;
  margin-right: 100px;
}

@media screen and (max-width: 991px) {
  .heading {
    margin-right: 84px;
  }

  .paragraph {
    margin-left: 130px;
    margin-right: 100px;
  }

  .paragraph-4 {
    margin-right: -90px;
    padding-right: 0;
  }

  .image-3 {
    margin-top: -49px;
    margin-left: -40px;
    margin-right: 29px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 169px;
  }

  .image-4 {
    margin-top: -181px;
    margin-left: -53px;
    padding-left: 37px;
    padding-right: 37px;
  }

  .paragraph-8-copy {
    max-width: 800px;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    margin-right: 57px;
    padding-left: 65px;
  }

  .paragraph {
    padding-left: 144px;
    padding-right: 64px;
  }

  .paragraph-9, .paragraph-9-copy, .paragraph-9-copy-copy, .paragrafo-footer {
    margin-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    margin-right: 3px;
    padding-left: 22px;
    font-size: 40px;
    line-height: 40px;
  }

  .paragraph {
    padding-left: 22px;
  }
}

#w-node-_8cf34841-f2e3-a9a6-76c2-043e667191f1-d5aadcb5 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_03770818-30cd-9a00-11e0-199bb58c108f-d5aadcb5 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_7ff0c67c-3cd4-4238-e0bb-f76dea89aeba-d5aadcb5, #w-node-_7ff0c67c-3cd4-4238-e0bb-f76dea89aec4-d5aadcb5 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_7ff0c67c-3cd4-4238-e0bb-f76dea89aecc-d5aadcb5 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-_7ff0c67c-3cd4-4238-e0bb-f76dea89aed9-d5aadcb5, #w-node-_7ff0c67c-3cd4-4238-e0bb-f76dea89aef4-d5aadcb5 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_7ff0c67c-3cd4-4238-e0bb-f76dea89af07-d5aadcb5 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_7ff0c67c-3cd4-4238-e0bb-f76dea89af1a-d5aadcb5 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_7ff0c67c-3cd4-4238-e0bb-f76dea89af2f-d5aadcb5 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_7ff0c67c-3cd4-4238-e0bb-f76dea89af3b-d5aadcb5, #w-node-_7ff0c67c-3cd4-4238-e0bb-f76dea89af48-d5aadcb5 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_221d4b20-bf4f-c2ba-bbb2-57b60483c22c-d5aadcb5 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-e2ec13cf-6c95-14b2-3345-af10b1750f9d-d5aadcb5 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_1cba2b15-e5d2-c357-d330-8c19b610fcd0-d5aadcb5 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-a7a40fa9-6c35-422c-65eb-703d19dc4c10-d5aadcb5 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_875273ac-ec31-6430-4d1f-75b645c1c9d4-d5aadcb5 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-ddacbafa-7126-6596-d83d-23821f779898-d5aadcb5 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_269fa228-da73-f03a-6445-433eea696856-d5aadcb5, #w-node-_414c4a57-33f7-4e5a-c41d-273754f49433-d5aadcb5 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_3c13799f-dc8e-6322-9676-0d6a1bda4b18-d5aadcb5 {
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-_45399f8f-c18e-66d3-7c12-832ac4d18cc0-d5aadcb5 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}


